<div layout="row" ng-cloak ng-controller="AppCtrl as ctrl">

	<!-- サイドバー -->
	<div class="sidebar" layout="column">
		<span flex></span>
		<md-icon class="sidebar-button" md-svg-icon="img/buttons/menu.svg" aria-label="Menu"></md-icon>
		<md-icon class="sidebar-button" md-svg-icon="img/buttons/favorite.svg" aria-label="Favorites"></md-icon>
		<md-icon class="sidebar-button" md-svg-icon="img/buttons/retweet.svg" aria-label="More Options"></md-icon>
	</div>

	<div ng-repeat="column in ctrl.programList">

		<!-- 1カラム目 -->
		
		<div class="dow-column">

			<md-toolbar layout="row">
				<div class="md-toolbar-tools">
					<span>{{ column.columnDate | date : 'M/d (EEE)' }}</span>
				</div>
			</md-toolbar>

			<md-content class="scroll">
				<md-list flex role="list">
					<!-- md-subheader class="md-no-sticky">3 line item (with hover)</!md-subheader -->
					<md-list-item class="md-3-line md-long-text" ng-repeat="program in column.rowPrograms">

						<img ng-src="{{ 'img/channels/icon_' + program.service_id + '.PNG' }}" class="md-avatar"/>
						<div class="md-list-item-text" layout="column">
							<a ng-href="{{ctrl.searchEngine + (program.title | programTitle)}}" target="_blank">
								{{program.title | programTitle}}
							</a>
							<p>{{ program.description | extractDate }}</p>
							<p>{{ program.summary | summaryShort }}</p>
							<div layout="row" layout-align="start center">
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/reply.svg"></md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/retweet.svg"></md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/favorite.svg"></md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/menu.svg"></md-icon>
								</md-button>
							</div>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
		<md-divider></md-divider>
	</div>
</div>