<div layout-gt-sm="row" layout="column" ng-cloak ng-controller="AppCtrl as ctrl">

	<div ng-repeat="column in ctrl.programList">

		<!-- 1カラム目 -->
		<div class="dow-column" flex-gt-sm="100" flex>

			<md-toolbar layout="row">
				<div class="md-toolbar-tools">
					<span>{{ column.columnDate | date : 'MM/dd (EEE)' }}</span>
				</div>
			</md-toolbar>

			<md-content class="scroll">
				<md-list flex role="list">
					<!-- md-subheader class="md-no-sticky">3 line item (with hover)</!md-subheader -->
					<md-list-item class="md-3-line md-long-text" ng-repeat="program in column.rowPrograms">

						<img ng-src="{{ 'img/channels/icon_' + program.service_id + '.PNG' }}" class="md-avatar"/>
						<div class="md-list-item-text" layout="column">
							<a ng-href="{{ctrl.searchEngine + (program.title | programTitle)}}" target="_blank">
								{{program.title | programTitle}}
							</a>
							<!--
							<p>{{ program.title | episodeTitle }}</p>
							-->
							<p>{{ program.description | extractDate }}</p>
							<p>{{ program.summary }}</p>
							<div layout="row" layout-align="start center">
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/reply.svg"></md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/retweet.svg"></md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/favorite.svg"></md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon md-svg-icon="img/buttons/menu.svg"></md-icon>
								</md-button>
							</div>
						</div>
					</md-list-item>
					<md-divider ></md-divider>
				</md-list>
			</md-content>
		</div>

		<md-divider></md-divider>

	</div>
</div>