<div class="main-content" layout="row" >
	<div ng-repeat="column in ctrl.programList">

		<div class="dow-column">
			<!-- 日付 -->
			<md-toolbar>
				<div class="md-toolbar-tools">
					<b>{{ column.label | date : 'M/d (EEE)' }}</b>
				</div>
			</md-toolbar>

			<md-content class="scroll">
				<md-list flex role="list">
					<!-- 番組 -->
					<md-list-item class="md-3-line md-long-text" 
							ng-repeat="program in column.rowPrograms | filter:ctrl.recFilter">
						<img ng-src="{{ 'img/channels/icon_' + program.service_id + '.PNG' }}" class="md-avatar"/>
						<div class="md-list-item-text" layout="column">
							<a ng-href="{{ctrl.searchEngine + (program.title | programTitle)}}" target="_blank">
								{{program.title | programTitle}}
							</a>
							<p>{{ program.description | extractDate }}</p>
							<p>{{ program.summary | summaryShort }}</p>
							<div layout="row" layout-align="start center">
								<md-button class="md-icon-button">
									<i class="material-icons" ng-style="{ color: 'grey'}">chat_bubble_outline</i>
								</md-button>
								<md-button class="md-icon-button">
									<i class="material-icons" ng-style="{ color: 'grey'}">
										repeat
									</i>
								</md-button>
								<md-button class="md-icon-button">
									<i class="material-icons" ng-style="{ color: program.item_id ? 'red' : 'grey'}"
										ng-click="ctrl.onReserveButton(program)">
										favorite_border
									</i>
								</md-button>
								<md-button class="md-icon-button">
									<i class="material-icons" ng-style="{ color: 'grey'}"
											ng-click="ctrl.openDetail(program)">
										more_horiz
									</i>
								</md-button>
							</div>
						</div>
					</md-list-item>
					<!-- 番組ここまで -->
					
				</md-list>
			</md-content>
		</div>
	</div>
</div>