<md-dialog aria-label="version">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>AnimeRec</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<i class="material-icons" ng-style="{ color: \white\}">close</i>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div layout="row">
				<div>Version: </div>
				<span flex></span>
				<div>0.0.1 (Beta)</div>
			</div>
			<div layout="row">
				<div>Author: </div>
				<span flex></span>
				<div><a href="https://github.com/eggplant60">eggplant60</a></div>
			</div>
			<br>
			<div layout="row">
				<div>Powered by </div>
				<span flex></span>
				<div><a href="https://tv.so-net.ne.jp/chan-toru/index#topmenu" target="_blank" rel="noopener noreferrer">CHAN-TORU</a></div>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>
