<md-dialog class="program-detail" aria-label="detail">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{ program.title }}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons" ng-style="{ color: 'white'}">close</i>
				</md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content">
				<div>
					{{ program.summary }}
				</div>
				<br>
				<table>
					<tr ng-repeat="(key, value) in program">
						<td>{{ key }}</td><td>:</td><td>{{ value }}</td>
					</tr>
				</table>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="answer('close dialog.')">
				閉じる
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
