<md-dialog class="conf-dialog" aria-label="conf-time">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>時間設定</h2><span flex></span>
		</div>
	</md-toolbar>

	

	<md-dialog-content layout="column" layout-align="center center" layout-fill>

		<h4>番組開始時刻のフィルタリングを設定します。</h4>

		<div>
			<div flex layout="row" layout-align="center center">
				<div>開始時刻(最小) = {{ conf.from.toString().padStart(2, '0') }}:00</div>
				<span flex></span>
				<md-slider md-discrete ng-model="conf.from"
					step="2" min="5" max="29" aria-label="from">
				</md-slider>
			</div>

			<div flex layout="row" layout-align="center center">
				<div>開始時刻(最大) = {{ conf.to.toString().padStart(2, '0') }}:00</div>
				<span flex></span>
				<md-slider md-discrete ng-model="conf.to"
					step="2" min="5" max="29" aria-label="to">
				</md-slider>
			</div>
		</div>

	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">
			キャンセル
		</md-button>
		<span flex></span>
		<md-button ng-click="ok()" ng-disabled="conf.from > conf.to">
			OK
		</md-button>
	</md-dialog-actions>

</md-dialog>
