<md-dialog class="conf-dialog" aria-label="conf-genre">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>ジャンル設定</h2><span flex></span>
		</div>
	</md-toolbar>

	<md-dialog-content layout="column" layout-align="space-around start" layout-fill>
		<div>
			<md-input-container>
				<md-select ng-model="conf.mainId" aria-label="mailid?">
					<md-option ng-repeat="genre in [{id: '107100', name: '国内アニメ'}]" ng-value="genre.id">
						{{genre.name}} ({{genre.id}}) 
					</md-option>
				</md-select>
				<md-checkbox ng-model="conf.exclusive" aria-label="exclusive?">
					上記ID「のみ」を含む
				</md-checkbox>
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">
			キャンセル
		</md-button>
		<span flex></span>
		<md-button ng-click="ok()">
			OK
		</md-button>
	</md-dialog-actions>

</md-dialog>
