<md-dialog aria-label="version">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>詳細</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<i class="material-icons" ng-style="{ color: \white\}">close</i>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div>
				AnimeReck 0.0.1 (Beta)
			</div>
			<div layout="row">
				<div>作者: </div><span flex></span><a href="https://github.com/eggplant60">eggplant60</a>
			</div>
			<div layout="row">
				<div>Powered by </div><span flex></span><a href="https://tv.so-net.ne.jp/chan-toru/index#topmenu" target="_blank" rel="noopener noreferrer">CHAN-TORU</a>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>
