<div class="sidebar" layout="column" layout-align="end center">

	<!-- 検索 -->
	<md-button class="sidebar-button">
		<i class="material-icons">search</i>
	</md-button>

	<!-- スケジュール -->
	<md-button class="sidebar-button">
		<i class="material-icons">schedule</i>
	</md-button>

	<span flex></span>

	<!-- 更新 -->
	<md-button class="sidebar-button" ng-disabled="ctrl.inProcess" ng-click="ctrl.onRefresh()">
		<i class="material-icons">refresh</i>
	</md-button>

	<!-- フィルター -->
	<md-button class="sidebar-button" ng-click="ctrl.onFilter()">
		<i class="material-icons">filter_list</i>
	</md-button>
	
	<!-- 設定 -->
	<md-menu md-offset="30 -20" layout="column" layout-align="center center">
		<md-button class="sidebar-button" ng-click="$mdMenu.open($event)">
			<i md-menu-origin="" class="material-icons">settings</i>
		</md-button>
		<md-menu-content width="2">
			<md-menu-item>
				<md-button ng-click="ctrl.onConf('genre')">ジャンル</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="ctrl.onConf('time')">時間</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="ctrl.onConf('rec')">録画</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="ctrl.onConf('display')">表示</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="ctrl.version()">AnimeReckについて</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>

</div> 


