<div class="execute-area">
  <lebel>アップロード</lebel>
  <div layout="row" layout-align="space-around start" layout-padding>

    <!-- SERIES -->
    <form name="form-series">
      <md-input-container class="md-block">
        <label>TITLE1</label>
        <input type="text" name="input" ng-model="formSeries"
                placeholder="Input a series name." required
                ng-pattern="formatSeries"
                
        />
        <!--
        ng-change="onFormSeriesChange(formSeries)"
        ng-pattern="/^[a-zA-Z0-9\-]{1,10}/"
        <div ng-messages="form-series.input.$error" role="alert">
          <div ng-message="pattern">フォーマット違反です</div>
        </div>
        -->
<!--         <div role="alert">
          <dev ng-show="disableUpdateButton">フォーマット違反です</dev>
        </div>
 -->      </md-input-container>
    </form>

    <!-- Drag & Drop -->
    <div class="drag-and-drop-area" flex layout-padding>
      <md-card ng-drop="drop($event)" ng-dragover="dragOver($event)" item-A="droppedFiles">
        <label>DRAG & DROP HERE!</label>
        <md-list>
          <md-list-item ng-repeat="file in droppedFiles track by $index">
            <div>{{ file.type }}</div><span flex></span><div>{{ file.name }}</div>
          </md-list-item>
        </md-list>
      </md-card>
    </div>

    <!-- Buttons-->
    <div laytout="row" laytout-align="space-around start">
      <md-button class="md-primary md-raised" 
          md-no-ink="false"
          ng-click="onUpdateButton()"
          ng-disabled="disableUpdateButton">Update</md-button>
      <md-button class="md-raised"
          md-no-ink="false"
          ng-click="onClearButton()">Clear</md-button>
    </div>

    
  </div>
</div>

<!--         <div role="alert">
          <span class="error" ng-show="s1.s2.$error.md-maxlength">Too short!</span>
          <div>{{ s1.s2.$error | json }}</div>
        </div>
 -->        <!--
        
        <md-autocomplete
            md-selected-item="selectedItem"
            md-search-text-change="searchTextChange(searchText)"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item)"
            md-items="item in querySearch(searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Ex. Alaska"
            input-aria-labelledby="favoriteStateLabel"
            input-aria-describedby="autocompleteDetailedDescription">
          <md-item-template>
            <span md-highlight-text="searchText">{{ item.display }}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>
        -->
