<md-content>
  <label>プレビュー</label>

  <div class="preview-area" layout="row" layout-align="space-around start" layout-padding>

    <div>
      <label>TEST0</label>
      <p></p>
      <md-list class="scroll">
        <md-list-item ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
          <div>{{ i }}</div>
        </md-list-item>
      </md-list>
    </div>

    <div>
      <label>TEST1</label>
      <p></p>
      <md-input-container class="scroll">
        <textarea cols="20" rows="10">サンプル</textarea>
      </md-input-container>
    </div> 

    <div>
      <label>TEST2</label>
      <p></p>
      <md-input-container class="scroll">
        <textarea cols="20" rows="40">サンプル</textarea>
      </md-input-container>
    </div>
  </div>
</md-content>


<!--
<md-content>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Pizza</div>
  </md-toolbar>

  <section>
    <md-subheader class="md-primary">Single Action Checkboxes</md-subheader>
    <md-list layout-padding>
      <md-list-item ng-repeat="topping in entry.toppings">
        <p ng-bind="topping.name"></p>
        <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
      </md-list-item>
    </md-list>
  </section>

  <section>
    <md-subheader class="md-accent">Read Message</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in entry.messages">
          <div class="md-list-item-text">
            <h3>{{$index+1}}. {{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
            <md-button class="md-secondary delete" ng-click="entry.onDel($index)">Delete</md-button>
          </div>
        </md-list-item>
      <h3 ng-if="entry.messages.length<=0">No messages!</h3>
    </md-list>
    
  </section>
</md-content>
-->